<!doctype html>
<html>

<head>
    <link rel="stylesheet" href=".././app/build/appname.common.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src=".././app/build/appname.common.js"></script>

    <script type="text/javascript">
        var myApp = angular.module('myApp', ['appname.common']);

    </script>

</head>

<body ng-app="myApp">

<main class="container">
    <h1 class="body-font"> Directive: Block Buttons </h1>
    <appname-multi-input group-title="Multi Input example" model="mock.multiInputModel" list-of="mock.multiInput"
                         yes-text="Yes, Enter details" no-text="No, Not applicable" max-input="3"
                         dependencies="mock.countryList,mock.smallList">
        <input type="text"
               ng-model="mock.multiInput.tin"
               class="input-field"
               placeholder="" data-arc-key="">
    </appname-multi-input>
</main>

</body>

</html>
