<!doctype html>
<html>
<head>
   <link rel="stylesheet" href=".././app/build/appname.testform.min.css">

   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
   <script src=".././app/build/appname.testform.js"></script>

   <script type="text/javascript">
      var myApp = angular.module('myApp', ['appname.testform']);
   </script>

</head>
<body ng-app="myApp">

   <main class="container">
      <h1 class="body-font"> Directive: layout </h1>
      <appname-testform-layout my-param="{{mock.simple_string.value}}"></appname-testform-layout>
   </main>

</body>
</html>
